/* General
-------------------- */
body {
	background: linear-gradient(to bottom, #86c30e, #86c30e, #99C131);
	font-family: 'Rubik', sans-serif;
}
/* Fin General
-------------------- */

/* Header
-------------------- */
.header-bg {
	width: 100%;
	background-color: #86c30e;
}

.parallax-bg {
	background-image: url(../images/portada2.jpg);
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;	
	background-position: 50% 50%;	
	opacity: 0;
}


/* Hero y sus derivaciones responden al encabezado general del header
--------------------- */
.hero-t .hero {
	color: rgba(255,255,255,0.8);
	text-align: center;
}

.hero-t h1.hero,
.hero-t h3.hero {
	letter-spacing: .3em;
	text-transform: uppercase;
	text-shadow: 2px 2px 5px rgba(0,0,0,.9), 0 0 3px rgba(0,0,0,0.8);
	font-family: 'Catamaran', sans-serif;
	/*font-family: 'Rubik', sans-serif;*/
}
/* Fin Header
-------------------- */

/* nav-bar
-------------------- */
#navbar {
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(255,255,255,0.05));
}

.navbar-default .navbar-nav>li>a {
	color: #fff;	
	padding-bottom: 0;
}

.right {
	float: right;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background: linear-gradient(to right, #DDDB2F, #99C131);
	color: #fff;
	text-shadow: 1px 1px 5px rgba(0,0,0,.9);
	padding-bottom: 20px;
	border-radius: 0px 0px 5px 5px;
}
.navbar-default .navbar-nav {
	height: 55px;
}

.navbar {
	position: relative;
}

.navbar-brand {
	position: absolute;
	left: 50%;
	transform:translateX(-50%);
	display: block;
	padding-top: 2px;
	margin-top: 0;
}

a.navbar-brand > img.logo:hover {
	box-shadow: 0 0 8px 2px #DDDB2F, 0 0 8px 3px #DDDB2F inset;
} 

div#myNavbar.navbar-collapse.collapse.in {
	height: 100px;
}

.logo {
	max-height: 50px;
}


/* Fin nav-bar
-------------------- */

/* secci贸n informaci贸n personal
-------------------- */
.personal{
	opacity: 0.8;
}

article.sobremi,
article.resumen {
	height: 100vh;
	margin: 0;
	padding: 0;
}

.bold{
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	color: rgba(153, 193, 49, .9);
}

.resumen:hover,
.sobremi:hover {
	background-color: rgba(153, 193, 49, .9);
}
/* Fin secci贸n informaci贸n personal
-------------------- */

/* Articulos titulos y parrafos
-------------------- */
.text-box {
	padding: 50px;
	height: 100%;
	overflow-y: scroll;
}

.text-box::-webkit-scrollbar {
	display: none;
}

.info_perso {
	max-width: 100%;
	margin-bottom: 2em;
}

p {
	color: #fff;
	text-align: center;
}

p.titulo {
	padding-top: 5%;
	padding-bottom: 10%;	
	letter-spacing: .3em;
	text-transform: uppercase;
	text-shadow: 2px 2px 5px rgba(0,0,0,.5), 0 0 3px rgba(0,0,0,0.3);
}

p.cuerpo {
	color: rgba(0,0,0,0.8);
	margin-top: 0;
	margin-bottom: 0;
	text-align: justify;
}

div.block {
	position: relative;
	display: block;
	border-radius:3px;
	border: solid rgba(5,5,5,0.4) 2px;
	box-sizing: border-box;
	margin-bottom: 1em;
	padding: 5px;
	height: 100%;
	opacity: 0.1;
}

.block .cuerpo {
	padding-left: 75px;
	font-size: 1em;
}

div.fecha {
	display: block;
	position:absolute;
	top:0;
	left:0;
	width:70px;
	height: 100%;
	background:rgba(0,0,0,0.4);
}

.fecha span {
	display:block;
	text-align: center;
	color: #99C131;
	font-size: 1.5em;
	max-width: 70px;
	line-height: 100%;
	padding-top: 0.3em;
}

.cuerpo.nivel {
	letter-spacing: .2em;
}

.sub-title {
	letter-spacing: .3em;
	margin-top: 3em;
	margin-bottom: 1.5em;
	text-transform: uppercase;
	text-shadow: 2px 2px 5px rgba(0,0,0,.5), 0 0 3px rgba(0,0,0,0.3);
}

@media (min-width: 300px) {
	p.titulo {
		font-size: 1.5em;
	}
	p.sub-title {
		font-size: 1.3em;
	}
	p.cuerpo {
		font-size: 1em;
	}
	.bold {
		font-size: 1.1em;
	}
	article.sobremi,
	article.resumen {
		border: none;
	}
	article.sobremi{
		background: linear-gradient(to right, rgba(255,255,255,0.8), rgba(255,255,255,1));
		border-radius: 10px 10px 0px 0px;
		height: 200vh;
	}
	article.resumen{
		background: linear-gradient(to left, rgba(255,255,255,0.8), rgba(255,255,255,1));
		border-radius: 0px;
		height: 190vh;
	}
	.header-bg {
		height: 100vh;
	}
	.hero-t {
		padding-top: 40vh;
	}
}

@media (min-width: 600px) {
	p.titulo {
		font-size: 2em;
	}
	p.sub-title {
		font-size: 1.8em;
	}
	p.cuerpo {
		font-size: 1.2em;
	}
	.bold {
		font-size: 1.3em;
	}
	article.sobremi,
	article.resumen {
		border: none;
	}
	article.sobremi{
		border-radius: 10px 10px 0px 0px;
		height: 135vh;
	}
	article.resumen{
		border-radius: 0px;
		height: 125vh;
	}
	.header-bg {
		height: 50vh;
	}
	.hero-t {
		padding-top: 22vh;
	}
}

@media (min-width: 800px) {
	article.sobremi,
	article.resumen {
		height: 100vh;
	}
	article.sobremi{
		border-radius: 10px 0px 0px 0px;
		border-right: solid 0.5px rgba(153, 193, 49, .9);
	}
	article.resumen{
		border-radius: 0px 10px 0px 0px;
		border-left: solid 0.5px rgba(153, 193, 49, .9);
	}
	.header-bg {
		height: 50vh;
	}
	.hero-t {
		padding-top: 22vh;
	}
}


/* Resumen (skills)
-------------------- */
.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:rgba(5,5,5,0.2);
	height:33px;
	border-radius:3px;
	border: solid rgba(5,5,5,0.1) 2px;
	box-sizing: border-box;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:110px;
	font-weight:bold;
	font-size: 1em;
	color:rgba(0,0,0,0.7);
	background:#99C131;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.02);
	padding:0 20px;
	height:29px;
	line-height:29px;
}

.skillbar-bar {
	height:29px;
	width:0px;
	background:linear-gradient(to right, #DDDB2F, #99C131);
	border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:29px;
	line-height:29px;
	color:rgba(255, 255, 255, 0.6);
}
/* Fin Resumen (skills)
-------------------- */
/* Fin Articulos
-------------------- */


/* Footer
-------------------- */
.footer {
	display: block;
	margin-bottom: 0;
	width: 100%;
	background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.9));
}

.logo-footer {
	max-height: 50PX;
	margin-top: 5px;
}

.footer-name {
	padding-top: 5px;
	text-align: left;
	color: rgba(255,255,255,.8);
	letter-spacing: .3em;
	max-width: 100%;
}

.footer-mail {
	padding-top: 5px;
	text-align: left;
	color: #99C131;
}

@media (min-width: 300px) {
	.footer-name {
		font-size: 1em;
		padding-left: 40px;
		margin-top: 5px;
		margin-left: 0;
	}
}

@media (min-width: 600px) {
	.footer-name {
		font-size: 1em;
		padding-left: 40px;
		margin-top: 5px;
		margin-left: -30px;
	}
}

.link-icon {
	float: right;
}

.fab {
	color: #99C131;
	line-height: 50px;
	margin-top: 8px;
}

.fa-behance-square {
	margin-right: -5px;
}
/* Footer
-------------------- */

/* toTop button
-------------------- */
#toTop {
	display: none;
	position: fixed;
	bottom: 10px;
	right: 5px;
	z-index: 99;
	border: none;
	outline: none;
	background-color:rgba(255,255,255,0.5);
	color: #99C131;
	cursor: pointer;
	padding: 1.5% 2%;
	border-radius: 5%;
}

@media (min-width: 600px) {
	#toTop {
		font-size: 1.5em;
		padding: .6% .8%;
	}
}

#toTop:hover{
	background-color: #DDDB2F;
	color: #fff;
	font-weight: 800;	
}